<footer>
    <section id="footer">
      <div class="footer cont">
        <div class="brand">
          <h1><span>Helper House</span></h1>
        </div>
        <h2>As Suas mãos à obra!</h2>
        <div class="social">
          <ul class="social-item" t>
            <li>
              <a href="http://www.facebook.com.br">
                <img src="images/face.png" alt="Facebook"
              /></a>
            </li>
            <li>
              <a href="http://www.instagram.com"
                ><img src="images/inst.png" alt="Instagram"
              /></a>
            </li>
            <li>
              <a href="http://www.twitter.com"
                ><img src="images/tw.png" alt="Twitter"
              /></a>
            </li>
            <li>
              <a href="http://www.youtube.com.br"
                ><img src="images/you.png" alt="YouTube"
              /></a>
            </li>
          </ul>
        </div>
        <p>Copyright © 2021 Helper House. Todos Direitos Reservados.</p>
      </div>
    </section>
  </footer>