<header>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <!--Brand/Logo-->
      <a class="navbar-brand" href="/">
        <img
          src="/images/logo2.png"
          alt="Helper House"
          width="140px"
          height="70px"
        />
      </a>
      <!--menu Hamburguer-->
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#menu-mobile"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--LIsta navegação-->
      <div id="menu-mobile" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if(!logged) { %> 
          <li class="nav-item">
            <a class="nav-link" href="/">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/como-funciona">Como Funciona?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/para-quem-contrata">Pra Quem Contrata</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/para-profissional">Para Profissional</a>
          </li>
          <li>
            <a class="nav-link active" href="/login">Login</a>
          </li>
          <% } else { %>
            <% if (typeof usuario !== 'undefined') { %>
              <li>
                <span class="nav-link">Olá, <%= usuario.nome %> </span>
              </li>
              <% if (usuario.hasOwnProperty('cpf_cnpj')) { %>
                <li>
                  <a class="nav-link" href="/minha-conta-prestador">Minha Conta</a>
                </li>
                <li>
                  <a class="nav-link" href="/dashboard-pedidos-prestador">Solicitações</a>
                </li>
                <li>
                  <a class="nav-link" href="/dashboard-servicos-prestador">Serviços</a>
                </li>
                <li>
                  <a class="nav-link" href="/plano">Financeiro</a>
                </li>
              <% } else { %>
                <li>
                  <a class="nav-link" href="/solicitar-servico">Novo Serviço</a>
                </li>
                <li>
                  <a class="nav-link" href="/minha-conta-tomador">Minha Conta</a>
                </li>
                <li>
                  <a class="nav-link" href="/dashboard-pedidos-tomador">Solicitações</a>
                </li>
             <% } %>
            <% } %>
            <li>
              <a class="nav-link active" href="/logout">Sair</a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>
  </div>
</header>