<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="projeto">
          <h1 class="section-title">Parceiro</h1>
      <nav class="nav_pag">
          <div class="info">
              <h3><strong>Parceiro</strong></h3>
              <p>Último passo: Confirme os dados para pagamento.</p>
              <p>Finalinalize sua inscrição e comece a receber propostas!</p>
          </div>
          <div id="estilo-plano">
              <p>RESUMO DO PLANO ESCOLHIDO</p>
              <div id="plan-container">
                  <h4>PLANO XYZ</h4>
                  <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id architecto aperiam sint odit. Vitae libero fuga, aliquid tempora est harum rerum nisi ipsa quis possimus, error assumenda delectus, provident nulla.</P>

                  <p style="font-style: italic;">Lorem amet consectetur adipiscing elit.</p>
              </div>
              <div class="tipo-pagament">
                  <p>ESCOLHA A FORMA DE PAGAMENTO:</p>
                  <Select id="b-plano"> 
                      <option value="boleto">Boleto</option>
                      <option value="credito">Cartao de Crédito</option>
                      <option value="debito">Cartao de Débito</option>
                  </SELect>

              </div>

          </div>
          
          



      </nav>
      </div>
  </main>

    <%- include('./partials/footer') %>
  </body>
</html>
