<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container1">
      <h3>
        Agora que você nos contou o que precisa, confirme seus dados para te conectarmos aos melhores profissionais 
      </h3>
      <div class="formulario-cadastro">
        <div>
          <form action="" w>
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" >
            
            <label for="sobrenome">Sobrenome</label>
            <input type="text" name="nome" id="nome" >
            
            <label for="email">Email</label>
            <input type="email" name="nome" id="email" >
                        
            <label for="numero">Celular/ WhatsApp para contato (com DDD)</label>
            <input type="tel" name="tel" id="tel" >
            
            <label for="endereco">Endereço Completo</label>
            <input type="text" name="nome" id="nome" >
            
            <label for="senha">Senha</label>
            <input type="text" name="nome" id="nome" >
            
            <label for="senha">Confirme Senha</label>
            <input type="text" name="nome" id="nome" >

            <div class="button">
              <button type="submit">Criar Conta</button>
            </div>
            </form>
          </div>
          
          <div>




      </div>
      
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
