<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container">
        <section id="title">
          <h2 class="section-title">
            Parceiros
          </h2>
        </section>
        <section id="information">
            <div class="servicos">
              <div class="servicos-descricao">
                <h3><strong>Profissional</strong></h3>
                <p>Você vai oferecer um serviço profissional.</p>
                <span>Informe seus dados para gerar novas oportunidades de negócio.</span> 
              </div>
            </div>
        </section>
        <% if (errors && typeof errors !== 'undefined') { %>
            <div class="alert alert-danger" role="alert">
              <div style="text-align: center; ">
                <% errors.errors.forEach(error => { %>
                  <strong><%= error.msg %></strong><br>
                <% }); %>
              </div>
            </div>
          <% } %>
        <section id="formulario">
            <form class="cadform" action="/cadastro-prestador" method="POST" enctype="multipart/form-data">
                <div class="cadastro">
                    <div class="form-group">
                        <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome" maxlength="100" >
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome" maxlength="100" >
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" id="email" placeholder="E-mail" name="email" maxlength="120">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" minlength="6" maxlength="16" id="senha" placeholder="Senha" name="senha" >
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" minlength="6" maxlength="16" id="confsenha" placeholder="Confirme sua senha" name="confsenha" >
                    </div>
                    <div class="form-group">
                        <input  class="form-control" type="text" id="CEP"  placeholder="CEP" name="cep" maxlength="8" >
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="tel" id="telefone" placeholder="Telefone/Whatsapp com DDD" name="telefone" maxlength="11"> 
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" id="registro"  placeholder="CPF/CNPJ" name="cpf_cnpj"  maxlength="14">
                    </div>
                    <select name="servico_id" class="form-select" aria-label="Selecionar Servicos" required>
                        <option selected>Selecione um serviço</option>
                        <option value="1">Eletricista</option>
                        <option value="2">Encanador</option>
                        <option value="3">Pintor</option>
                    </select>    
                </div>
                
                <div class="arquivos">
                    <div class="form-group">
                        <label for="foto">Anexe uma foto para o seu perfil:</label> 
                        <input required class="form-control-file" type="file" id="foto" name="foto" >
                    </div>
                    <div class="form-group">
                        <label for="ident">Anexe uma foto com seu documento para comprovar a sua identidade:</label>
                        <input required class="form-control-file" type="file" id="identidade" name="ident" >
                    </div>
                </div>        
            <button type="submit" class="btn btn-enviar">Enviar</button>
        </form>

        </section>
    </main>
  <%- include('./partials/footer') %>
  </body>
</html>
