<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container">
        <section id="title">
          <h2 class="section-title">
            Parceiros
          </h2>
        </section>
        <section id="information">
            <div class="servicos">
              <div class="servicos-descricao">
                <h3><strong>Profissional</strong></h3>
                <p>Você vai oferecer um serviço profissional.</p>
                <span>Informe seus dados para gerar novas oportunidades de negócio.</span> 
              </div>
            </div>
        </section>
        <section id="formulario">
            <form class="cadform" action="/cadastro-prestador" method="POST" enctype="multipart/form-data">
                <div class="cadastro">
                    <div class="form-group">
                        <input required class="form-control" type="text" id="nome" name="nome" placeholder="Nome" maxlength="100" required oninvalid="this.setCustomValidity('Preencha o campo nome somente com letras')" 
                        onchange="try{setCustomValidity('')}catch(e){}" pattern="([a-zA-Záãâéêíîóôõú\s])+$"  />
                    </div>
                    <div class="form-group">
                        <input required class="form-control" type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome" maxlength="100" required oninvalid="this.setCustomValidity('Preencha o campo sobrenome somente com letras')" 
                        onchange="try{setCustomValidity('')}catch(e){}" pattern="([a-zA-Záãâéêíîóôõú\s])+$"  />
                    </div>
                    <div class="form-group">
                        <input required class="form-control" type="email" id="email" placeholder="E-mail" name="email" maxlength="120" required = required oninvalid="this.setCustomValidity('Formato de email inválido')" 
                        onchange="try{setCustomValidity('')}catch(e){}" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" minlength="6" maxlength="16" id="senha" placeholder="Senha" name="senha" required = required oninvalid="this.setCustomValidity('A senha deve conter no mínimo 6 e no máximo 16 dígitos')" 
                        onchange="try{setCustomValidity('')}catch(e){}" >
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" minlength="6" maxlength="16" id="confsenha" placeholder="Confirme sua senha" name="confsenha" required = required oninvalid="this.setCustomValidity('A senha deve conter no mínimo 6 e no máximo 16 dígitos')" 
                        onchange="try{setCustomValidity('')}catch(e){}">
                    </div>
                    <div class="form-group">
                        <input  class="form-control" type="text" id="CEP"  placeholder="CEP" name="cep" minlength="8" maxlength="8" required="required" pattern="[0-9]+$" required = required oninvalid="this.setCustomValidity('O cep deve conter somente números com 8 digitos. Exemplo 03654025')" 
                        onchange="try{setCustomValidity('')}catch(e){}"/>
                    </div>
                    <div class="form-group">
                        <input required class="form-control" type="tel" id="telefone" placeholder="Telefone/Whatsapp com DDD" name="telefone"  required="required" minlength="10" maxlength="11" required = required oninvalid="this.setCustomValidity('O campo telefone deve conter somente numeros, com o DDD incluso')" 
                        onchange="try{setCustomValidity('')}catch(e){}" pattern="[0-9]+$" /> 
                    </div>
                    <div class="form-group">
                        <input required class="form-control" type="text" id="registro"  placeholder="CPF/CNPJ" name="cpf_cnpj" minlength="11" maxlength="14" required = required oninvalid="this.setCustomValidity('O campo cpf/cnpj pode conter somente números, com no mínimo 11, e no máximo 14 dígitos.')" 
                        onchange="try{setCustomValidity('')}catch(e){}" pattern="[0-9]+$" />
                    </div>
                    <select name="servico_id" class="form-select" aria-label="Selecionar Servicos" required = "required">
                        <option selected>Selecione um serviço</option>
                        <option value="1">Eletricista</option>
                        <option value="2">Encanador</option>
                        <option value="3">Pintor</option>
                    </select>    
                </div>
                
                <div class="arquivos">
                    <div class="form-group">
                        <label for="foto">Anexe uma foto para o seu perfil:</label> 
                        <input required class="form-control-file" type="file" id="foto" name="foto" >
                    </div>
                    <div class="form-group">
                        <label for="ident">Anexe uma foto com seu documento para comprovar a sua identidade:</label>
                        <input required class="form-control-file" type="file" id="identidade" name="ident" >
                    </div>
                </div>        
            <button type="submit" class="btn btn-enviar">Enviar</button>
        </form>

        </section>
    </main>
  <%- include('./partials/footer') %>
  </body>
</html>
