<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container" id="page-como">
      <section id="projeto">
        <div class="projeto cont">
          <div class="projeto-header">
            <h2 class="section-title">
                Olha como é rápido e prático realizar aquele serviço
            </h2>
          </div>
          <div class="flex-container">
            <ul class="timeline">
              <li>Cadastre-se em poucos cliques. Procure pelo seu serviço.</li>
              <li>Faça seu Pedido! É rápido e de graça.</li>
              <li>Receba orçamentos para o seu pedido.</li>
              <li>Escolha o melhor orçamento e já entre em contato com o prestador para efetivar o serviço</li>
            </ul>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
