<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container">
      <section id="title">
        <h2 class="section-title">
          Olha como é rápido e prático realizar aquele serviço
        </h2>
      </section>
      <section id="information">
        <div class="list-of-advantages">
          <ul class="timeline">
            <li><span>Realize o cadastro na plataforma</span></li>
            <li><span>Procure pelo serviço que vai resolver o seu problema</span></li>
            <li><span>Detalhe-o, deixamos algumas alternativas para lhe ajudar</span></li>
            <li><span>Receba o aceite de um profissional e aceite se deseja aquela solução</span></li>
          </ul>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
