<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container">
      <section id="title">
        <h2 class="section-title">
          Olha como é rápido e prático realizar aquele serviço
        </h2>
      </section>
      <section id="information">
        <div class="list-of-advantages">
          <ul class="timeline">
            <li><span>Procure pelo serviço que vai resolver o seu problema</span></li>
            <li><span>Detalhe o seu problema, se preciso envie imagens e cadastre-se</span></li>
            <li><span>Receba orçamentos para o seu pedido.</span></li>
            <li><span>Escolha o melhor orçamento e feche o serviço</span></li>
          </ul>
        </div>
      </section>
      <hr/>
      <section id="evaluations">
        <div class="evaluations-title">
          <h2>
            Analise as avaliações
          </h2>
          <span>Contrate o profissional mais bem avaliado</span>
        </div>
        <div class="evaluations-img">
          <img src="images/avaliations.png" alt="Avaliações">
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
