<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="count-title">
          <h2>Crie sua conta</h2>
          <p>Qual a melhor opção?</p>
      </div>
      <div class="bttn-newcount">
          <p><button>
              <a href="/solicitar-servico"> Preciso de um profissional</button></p></a>
          <p><button>
              <a href="/cadastro-prestador">Quero ser parceiro</button></p></a> 
      </div>


  </main>

    <%- include('./partials/footer') %>
  </body>
</html>
