<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container" id="dashboard-pedidos-tomador">
      <section id="title">
        <div>
            <h2 class="section-title">
                Confira abaixo seus pedidos:
            </h2>
        </div>
        </section>
        <section id= "display">
        </div>
        <div class="display-pedidos">
        <ul>
          <lo>
            <div class="container pending">
            <h3>Pendentes</h3>
            </div>
            <div class="container-secundario">
              <h3>Pedido 1</h3>
              <div class ="button">
                <a href="javascript:void(0)">Detalhes Pedido</a>
              </div>
            </div>
            </lo>
          <lo>
            <div class="container approved">
              <h3>Aprovados</h3>
              </div>
            <div class="container-secundario">
              <h3>Pedido 1</h3>
              <div class ="button">
                <a href="javascript:void(0)">Detalhes Pedido</a>
              </div>
            </div>
            </lo>
            <lo>
              <div class="container rejected">
                <h3>Recusados</h3>
                </div>
              <div class="container-secundario">
                <h3>Pedido 1</h3>
                <div class ="button">
                  <a href="javascript:void(0)">Detalhes Pedido</a>
                </div>
              </div>
              </lo>
        </ul>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
