<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container" id="page-como">
      <section id="projeto">
        <div class="projeto cont">
          <div class="projeto-header">
            <h2 class="section-title">
                <!--Coloque aqui frase principal da página-->
            </h2>
          </div>
          <div class="flex-container">
            <h1>Confira abaixo seus pedidos:</h1>
            <h5>Pedidos próximos ao CEP: 22795090     Editar</h5>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
