<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container" id="dashboard-pedidos-prestador">
      <section id="title">
            <h2 class="section-title">
                Confira abaixo seus pedidos:
            </h2>
          </div>
          <div class="flex-container">
            
            <h3>Pedidos próximos ao CEP:  22795090  Editar</h3>
          </div>
        </div>
        <ul>
          <lo>
            <div class="container">
              <h3>
                Pedido 1
              </h3>
            </div>
            
          </lo>
          <lo>
            <div class="container">
              <h3>
                Pedido 2
              </h3>
            </div>
            </lo>
                 
        </ul>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
