<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container">
      <section id="title">
        <h2 class="section-title">
          Praticidade e agilidade nas manutenções e reformas do seu imóvel!
        </h2>
      </section>
      <section id="information">
        <div class="servicos">
          <div class="servicos-descricao">
              <p>
                Somos a nova startup para de contratação de serviços do Brasil. Conectamos Profissionais de todo o Brasil com pessoas solicitando serviço, atendendo com qualidade, facilidade e rapidez todos os tipos de necessidade.
              </p>
          </div>
          <div class="tipo-servicos">
              <a href="/para-quem-contrata" class="consumidor servico">
                  Para quem precisa de um serviço
              </a>
              <a href="/para-profissional" class="prestador servico">
                  Para quem presta serviço
              </a>
          </div>
          <div class="servicos-img">
              <img src="/images/home-obra.png" alt="Serviços da sua casa">
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
