<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container">
      <section id="title">
        <h2 class="section-title">
          Segurança, praticidade e menor preço para sua obra
        </h2>
      </section>
      <section id="information">
        <div class="list-of-advantages">
          <ul class="advantages-buyer">
            <li>
              <div class="icon">
                <h3>
                  Segurança
                </h3>
              </div>
              <div class="text">
                <span>Para sua maior segurança, a Helper House verifica os dados de todos os profissionais antes de liberar o seu acesso à plataforma.</span>
              </div>
            </li>
            <li>
              <div class="icon">
                <h3>
                  Praticidade
                </h3>
              </div>
              <div class="text">
                <span>Encontre em um só lugar profissionais com ampla experiência de mercado e de quaisquer serviços desejados</span>
              </div>
            </li>
            <li>
              <div class="icon">
                <h3>
                  Menor Preço
                </h3>
              </div>
              <div class="text">
                <span>Orçe com diversos profissionais, analise e feche o serviço no melhor preço</span>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section id="action">
        <a id="solicitar-servico" href="/solicitar-servico">
          Quero solicitar um serviço
        </a>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
