<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container" id="page-como">
      <section id="projeto">
        <div class="projeto cont">
          <div class="projeto-header">
            <h2 class="section-title">
                Olha como é rápido e prático realizar aquele serviço
            </h2>
          </div>
          <div class="flex-container">
              <ul>
                  <li class="vantagens">
                      <span>1</span>
                  </li>
                  <li class="vantagens">
                      <span>2</span>
                  </li>
                  <li class="vantagens">
                      <span>3</span>
                  </li>
                  <li class="vantagens">
                      <span>4</span>
                  </li>
              </ul>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
