<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container">
      <section id="title">
        <h2 class="section-title">
          Melhor Custo Benefício para Prestar Seu Serviço
        </h2>
      </section>
      <section id="information">
        <div class="list-of-advantages">
          <ul class="advantages-sales">
            <li>
              <div class="text">
                <span>Para sua maior segurança, a Helper House verifica os dados de todos os usuários antes de liberar acesso à plataforma.</span>
              </div>
              <div class="icon">
                <h3>
                  Segurança
                </h3>
              </div>
            </li>
            <li>
              <div class="text">
                <span>Encontre diversos serviços em um só lugar e administre-os dentro de um painel poderoso e organizado para o seu melhor rendimento</span>
              </div>
              <div class="icon">
                <h3>
                  Praticidade
                </h3>
              </div>
            </li>
            <li>
              <div class="text">
                <span>Após aprovação do orçamento, o seu cliente entrará em contato com você pelo Whatsapp para combinar os detalhes e todo o dinheiro pago por ele, vai direto para o seu bolso, não cobramos nenhuma taxa</span>
              </div>
              <div class="icon">
                <h3>
                  Sem Taxas
                </h3>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section id="action">
        <a id="cadastro-prestador" href="/cadastro-prestador">
          Sou profissional e quero oferecer meu serviço
        </a>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
