<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container">
      <div class="projeto">
              <h1 class="section-title">Parceiro</h1>
          <nav class="nav_pag">
              <div class="info">
                  <p>Comece a pagar somente depois que conquistar seus primeiros serviços!</p>
              </div>
              <div class="row" style="justify-content: center;">
                <div class="text-center">
                  <div class="container">
                      <div class="row pt-4">
                          <% if (pedidos.length < 6) { %>
                            <div class="col-12">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-header">
                                        <h4 class="my-0 font-weight-normal">Assinatura Grátis</h4>
                                    </div>
                                    <div class="card-body">
                                        <h1><b>R$ 0 </b><small class="text-muted"></small></h1>
                                        <ul class="list-unstyled mt-3 mb-4">
                                            <li>Até 5 orçamentos</li>
                                            <li>Segurança do usuário inclusa</li>
                                            <li>Sem Suporte</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          <% } else { %>
                          <div class="col-12">
                              <div class="card mb-4 box-shadow">
                                  <div class="card-header">
                                      <h4 class="my-0 font-weight-normal">Assinatura Pro</h4>
                                  </div>
                                  <div class="card-body">
                                      <h1><b>R$ 2 </b><small class="text-muted">/pedido</small></h1>
                                      <ul class="list-unstyled mt-3 mb-4">
                                        <li>A partir de 5 orçamentos</li>
                                        <li>Segurança do usuário inclusa</li>
                                        <li>Suporte por Email</li>
                                      </ul>
                                  </div>
                              </div>
                              <p>Pagar R$ <%= 2 * pedidos.length %>  via PIX para: <b>financeiro@helperhouse.com</b></p>
                          </div>
                          <% } %>
                      </div>
                  </div>
              </div>
              </div>
          </nav>
</main>


    <%- include('./partials/footer') %>
  </body>
</html>
