<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/novaSolicitaçãoTomadorServico.css">
  </head>
  <body>
    <%- include('./partials/header') %>
    <main class="container1">
      <section >
        <h2 class="section-title">
          Selecione a especialidade do profissional que deseja contratar
        </h2>
      </section>
          </div>
        </div>
            <div class="flex-container">
              <h4>
                <ul>                      
                    <div class="Imagens-servicos">
                      <div>
                        <img  src="images/eletricista.png" alt="servicos eletricista">
                        <a href="/solicitar-servico-eletricista" class="botaoServico">
                          Serviços de eletricista
                        </a>
                      </div>
                      <div>
                        <img  src="images/encanador.png" alt="servicos Hidráulica">
                        <a href="/solicitar-servico-encanador" class="botaoServico">
                          Serviços de encanador 
                        </a>
                      </div>
                      <div>
                        <img  src="images/pintor.png" alt="servicos pintor">
                        <a href="/solicitar-servico-pintor" class="botaoServico">
                          Serviços de Pintor 
                        </a>
                      </div>                          
                    </div>
                  </ul>
              </h4>
            </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
