#title {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.section-title {
  text-align: initial;
}

.display-pedidos {
  list-style: none;
}
.display-pedidos lo {
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: row;
}

.display-pedidos lo .container {
  padding: 50px;
  display: flex;
  border: 1px solid;
}

.display-pedidos lo .h3 {
  display: flex;
  padding: 10px;
  font-size: 100px;
}

@media (min-width: 769px) {
  .display-pedidos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 15px;
  }
  .display-pedidos lo .container {
    min-width: 250px;
  }
  .display-pedidos lo .container h3 {
    line-height: 2;
  }
  .display-pedidos lo .text {
    margin-left: 120px;
  }
}
