#title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

#subtitle {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

#display {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.section-title {
  text-align:center
}

.subtitle {
  text-align:center
}

.display-pedidos {
  position:inherit;
  border-radius: 20px;
  
}

.display-pedidos lo .container-secundario {
  box-sizing: border-box;
  width: 100vh;
  border: solid 5px #feea00;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  }

.display-pedidos lo .h3 {
  display: flex;
  padding: 10px;
  font-size: 100px;
}

.button {
  border-radius: 20px ;  
  align-items: center; 
  justify-content: center;
  display: flex;
  width: 150px;
  background-color: #ed9121;
  color: #0D1321;
  text-align: center;
  padding: 5px;
  border: 1px solid #0D1321;
  justify-content: center;
  }

@media (min-width: 769px) {
  .display-pedidos {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 5px;
  }
  .display-pedidos lo .container-secundario {
    min-width: 250px;
  }
  .display-pedidos lo .container-secundario h3 {
    line-height: 2;
  }
  
}
