* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: #feea00;
  position: sticky;
  top: 0;
  z-index: 999;
}

.cont {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand a {
  text-decoration: none;
}

#menu-mobile {
  font-size: 25px;
}

label {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

input,
select,
button {
  padding: 3px;
}

.b-login {
  border: #ed9121;
  background: #ed9121;
  color: white;
  font-family: monospace;
  font-size: 18px;
  width: 100%;
  border-radius: 30px;
  font-weight: bold;
}

.projeto {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.projeto-header h1 {
  margin-bottom: 50px;
}


/* Rodapé */

#footer {
  min-height: 20px;
  padding: 10px 15px;
  background-color: #feea00;
}

.footer-title h1,.footer-title h2 {
  font-size: 25px;
}

.social {
  display: flex;
  text-align: center;
}

ul.social-item li a {
  text-align: center;
}

.social-item img {
  list-style-type: none;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  text-align: center;
}

ul.social-item li {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}

.footer-creditos {
  display: flex;
  justify-content: center;
}
footer .row {
  margin: 15px 0;
}
footer .col-md-6 {
  display: flex;
  justify-content: center;
}
@media(max-width: 768px) {
  .footer-title {
    display: flex;
    justify-content: center;
  }
}